body {
  position: relative;
  font-size: 1.7em;
}

h1 {
  font-family: Lobster;
}



#AboutMe {
  background: url('https://static.pexels.com/photos/6248/desk-laptop-notebook-working.jpg');

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.make-round-borders {
      border-color: #5DBCD2;
      border-style: solid;
      border-width: 5px;
      border-radius: 50%;
      }

#interests-list {
    display: none;
   }

#div-contact {
    display: none;
   }
