body {
  position: relative;
  font-size: 1.8em;
}

h1 {
  font-family: Lobster;
}
.make-round-borders {
      border-color: #5DBCD2;
      border-style: solid;
      border-width: 5px;
      border-radius: 50%;
      }

#interests-list {
    display: none;
   }

#div-contact {
    display: none;
   }
