
p {
  font-size: 1.5em;

}

body {
  background: url('https://static.pexels.com/photos/55787/pexels-photo-55787.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
